* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
}

.container {
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
  width: 300px;
  margin: 120px auto;
  border-radius: 5%;
  padding: 25px;
}

.star {
  background-color: hsl(215, 19%, 23%);
  border-radius: 50%;
  padding: 10px;
}

.title {
  margin: 15px 0;
}

.text, .result {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 25px;
  color: hsl(217, 12%, 63%);
}

.ratings {
  list-style: none;
  color: hsl(217, 12%, 63%);
  display: flex;
  flex-direction: row-reverse;
}

.ratings > li {
  background-color: hsl(215, 19%, 23%);
  padding: 12px 17px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.ratings > li:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.ratings > li:hover + li {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);;
}

button {
  background-color: hsl(25, 97%, 53%);
  width: 300px;
  padding: 18px;
  border: 0;
  border-radius: 25px;
  margin: 25px auto;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: 3px;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thank-you-state {
  display: none;
  margin: 5px auto;
  text-align: center;
}

.illustration-thank-you {
  margin-bottom: 18px;
}

.result {
  color: hsl(25, 97%, 53%);
  background-color: hsl(215, 19%, 23%);
  width: 165px;
  margin: 0 auto 30px;
  border-radius: 18px;
  padding: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}